REACT_APP_BASE_URL=https://gmt-azback.softelevation.com
REACT_APP_BASE_URL=https://stg-azback.softelevation.com
REACT_APP_BASE_URL=https://dev-azback.softelevation.com
REACT_APP_ENV=development
REACT_APP_SCREEN_TIMER=900000
REACT_APP_SECRET_KEY=admin123
REACT_APP_LOGO=staging